//scss 全局变量

// login 登录界面
$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;


//layout
//左侧的菜单的宽度
$base-menu-width:200px;
$base-menu-min-width:50px;
//左侧菜单的背景颜色
$base-menu-background:#001529;


//顶部导航的高度
$base-tabbar-height:50px;

//左侧菜单logo高度设置
$base-menu-logo-height:50px;

//左侧菜单logo右侧文字大小
$base-menu-logo-font-size:16px;


//sidebar
$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$foldSiderbarWidth:50px;

:export{
    menuBg:$menuBg
}